.rwdContainer{width: 100%!Important;}

@media (max-width: 400px){
.rwdContainer{padding-left: 0px;padding-right: 0px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 0px;padding-right: 0px;}
.input-group-addon{display:none;}
.input-group {display: block;}
}
@media (max-width: 526px){
.btn {margin-bottom: 20;}
}
@media (max-width: 560px){
td,th, .btn-lg{ font-size:80%;}
}
@media (max-width: 460px){
.rwdTabel{display:none;}
}

@media (max-width: 485px){
.well {padding:0px;}
}

@media (max-width: 260px){
td{padding: 10px 5px 10px 5px;}
.well {padding:0px;}
#logoMFG img{display: none;}
#logoMFG {font-size: 10px;}
h1, .h1 {font-size: 90%;}
}

@media (max-width:767px){
   #navRWD { display:block; float: right; background-color: #0e0e0e; margin: 16px; height: 37px;}
   #navRWD .icon-bar{margin-bottom: 3px; height: 2px;}
   .navbar .btn-navbar .icon-bar {display: block;width: 18px; height: 2px;background-color: #f5f5f5;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);}
   #wrapper {min-width:190px;margin:0px;width: 100%;}
}


