@(message: String, email : String, user : String, userDataTrue: String)(mfgAngeboten:List[ValideMFG])(mfgAnfragen:List[ValideMFG])(mfgBestaetigung:List[ValideMFG])(mfgAbgelehnt:List[ValideMFG])
@main("Memberbereich") {

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">

        <li class="active"><a href="/memberIndex">Meine MFG</a></li>
        <li><a href="/mfgSuche">MFG Suchen</a></li>
        <li><a href="/mfgAnbieten">MFG Anbieten</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <hr>
    <span class="label label-default">Konto: @email / @user</span>
    <hr>
</div>
<div class="col-md-9">

    <div class="well center">

        @if(message){
        <div class="alert alert-info">
            @message
        </div>
            @if(userDataTrue == null){
            <ul class="pager">
                <li><a href="/memberIndex">Zur Übersicht <span class="glyphicon glyphicon-list"></span></a></li>
            </ul>
            }
        }
        @if(userDataTrue){
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Von</th>
                <th class="rwdTabel">Nach</th>
                <th class="rwdTabel">Datum</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            @for(l <- mfgAngeboten) {
            <tr>
                <td>@l.startort</td>
                <td class="rwdTabel">@l.zielort</td>
                <td class="rwdTabel">@l.datum</td>
                <td><span class="label label-danger">zu bestätigen</span></td>
                <td><a href="/mfgBestaetigen/@l.id">Jetzt bestätigen</a></td>
            </tr>
            }

            @for(l <- mfgAnfragen) {
            <tr>
                <td>@l.startort</td>
                <td class="rwdTabel">@l.zielort</td>
                <td class="rwdTabel">@l.datum</td>
                <td><span class="label label-warning">angefragt</span></td>
                <td><a href="/mfgDetailindex/@l.id">Details</a></td>

            </tr>
            }


            @for(l <- mfgBestaetigung) {
            <tr>
                <td>@l.startort</td>
                <td class="rwdTabel">@l.zielort</td>
                <td class="rwdTabel">@l.datum</td>
                <td><span class="label label-success">bestätigt</span></td>
                <td><a href="/mfgDetailindex/@l.id">Details</a></td>

            </tr>
            }

            @for(l <- mfgAbgelehnt) {
            <tr>
                <td>@l.startort</td>
                <td class="rwdTabel">@l.zielort</td>
                <td class="rwdTabel">@l.datum</td>
                <td><span class="label label-default">abgelehnt</span></td>
                <td><a href="/mfgDetailindex/@l.id">Details</a></td>

            </tr>
            }

            </tbody>
        </table>


        <ul class="pager">
            <li><a href="/Profileinstellungen">Kontodaten bearbeiten <span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
        }
    </div>
</div>
}