@(message: String, email : String, user : String)(mfg:List[ValideMFG])
@main("MFG Anbieten") {


<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">

        <li><a href="/memberIndex">Meine MFG</a></li>
        <li><a href="/mfgSuche">MFG Suchen</a></li>
        <li class="active"><a href="/mfgAnbieten">MFG Anbieten</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <hr>
    <span class="label label-default">Konto: @email / @user</span>
    <hr>
</div>

<div class="col-md-9">
        @if(mfg == null){
        }else{
        <div class="well center">
            <button id="listeZeigen" class="btn btn-default">Meine angebotenen MFGs</button>
            <div id="PanelAnzeigen">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Von</th>
                        <th>Nach</th>
                        <th class="rwdTabel">Datum</th>
                        <th class="rwdTabel">Zeit</th>
                    </tr>
                    </thead>
                    <tbody>

                    <div class="alert alert-info">
                    </div>

                    @for(i <- mfg) {
                    <tr>
                        <td>@i.startort</td>
                        <td>@i.zielort</td>
                        <td class="rwdTabel">@i.datum</td>
                        <td class="rwdTabel">@i.uhrzeit</td>
                        <td><a href="/mfgDetailAnzeigen/@i.id">Details</a></td>

                    </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
        }
        <div class="well center">
        @if(message){
        <div class="alert alert-warning">
            @message

        </div>
        }else{
        <!---- ---->
        @helper.form(routes.memberController.actionAnbieterMaske) {
        <form>
                <fieldset>
                    <div class="form-group" name="Formular">
                        <div class="input-group">
                            <span id="start" class="input-group-addon">Start</span>
                            <input id="startort" name="startort" type="text"  onchange="getLocationStart()" class="form-control" placeholder="Startort">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Ziel</span>
                            <input id="zielort" name="zielort" type="text" onchange="getLocationZiel()"  class="form-control" placeholder="Zielort">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Mitfahrer</span>
                            <input name="mitfahrer"  type="text" class="form-control" placeholder="Mitfahrer z.B.: 2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="dd-MM-yyyy">
                            <input class="form-control" name="datum" size="16" type="text" value="" readonly placeholder="Datum">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" /><br/>
                    </div>
                    <div class="form-group">
                        <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                            <input class="form-control" name="uhrzeit" size="16" type="text" value="" readonly placeholder="uhrzeit">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input3" value="" /><br/>
                    </div>
                    <button name="submit" type="submit" class="btn btn-default">MFG veröffentlichen</button>

                </fieldset>
        </form>
                }
        }

        </div>
    <div class="well center" onload="getLocation()">
        <div id="result"></div>
        <div id="map"></div>
    </div>
</div>


<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type='text/javascript' src='@routes.Assets.at("js/googleMaps.js")'></script>

}