@(message: String, email : String, user : String)
@main("MFG Suchen") {

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">

        <li><a href="/memberIndex">Meine MFG</a></li>
        <li class="active"><a href="/mfgSuche">MFG Suchen</a></li>
        <li><a href="/mfgAnbieten">MFG Anbieten</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <hr>
    <span class="label label-default">Konto: @email / @user</span>
    <hr>
</div>
<div class="col-md-9">

    <div class="well center">

        <div class="alert alert-success">
            @message

        </div>

    </div>
</div>
}