@(message: String, email : String)(userdata:List[User])
@main("Memberbereich") {

<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">

        <li class="active"><a href="/memberIndex">Meine MFG</a></li>
        <li><a href="/mfgSuche">MFG Suchen</a></li>
        <li><a href="/mfgAnbieten">MFG Anbieten</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <hr>
    <span class="label label-default">Konto: @email</span>
    <hr>
</div>
<div class="col-md-9">

    <div class="well center">

        <a href="#" id="editProfil">Einträge bearbeiten <span class="glyphicon glyphicon-cog"></span></a>

        @if(message){
        <div class="alert alert-success">
            @message
        </div>
        }

        @for(i <- userdata) {
        <div class="profil navActiv">
        <p><span class="label label-primary">Vorname </span> @i.vorname</p><hr>
        <p><span class="label label-primary">Nachname </span> @i.nachname</p><hr>
        <p><span class="label label-primary">Email </span> @i.email</p><hr>
        <p><span class="label label-primary">Geburtsdatum </span> @i.geburtsdatum</p><hr>
        <p><span class="label label-primary">Username </span> @i.username</p><hr>
        <p><span class="label label-primary">Password </span> @i.password</p><hr>
        </div>
        @helper.form(routes.ProfileinstellungenController.actionProfil) {
        <div class="profilform">
            <fieldset>
            <form>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Vorname</span>
                    <input name="vorname" value="@i.vorname" type="text" class="form-control" placeholder="Vorname">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Nachname</span>
                    <input name="nachname"  value="@i.nachname"  type="text" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">E-Mail</span>
                    <input name="email" value="@i.email"  type="email" type="text" class="form-control" placeholder="E-Mail" id="disabledInput" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="dd-MM-yyyy">
                    <input class="form-control" name="geburtsdatum" size="16" type="text" value="@i.geburtsdatum" readonly placeholder="Geburtsdatum">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Username</span>
                    <input value="@i.username"  type="text"  class="form-control" id="disabledInput" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Passwort</span>
                    <input name="password" value="@i.password"  type="password" type="text" class="form-control" placeholder="Passwort">
                </div>
            </div>
            <input type="hidden" name="username" value="@i.username">

            <button name="submit" type="submit" class="btn btn-default">Absenden</button>
            </form>
            </fieldset>
            }

        </div>
        }


    </div>
</div>
}